/* PAGE */

/*colour pallate: http://www.colourlovers.com/palette/1321158/milk_toast_honey

light yellow: FFFDE0
medium yellow: FCD036
light orange: FAB22C
medium orange: E88523
dark orange: D9791A
*/


body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
  background: #FFFDE0;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  color: #D9791A;
}

pre {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
  text-align: center;
}


.pure-button {
  border-radius: 0.5em;
}


.pure-button-primary {
  background-color: #33D76D;
}

.pure-button-primary:hover {
  background-color: #1fbf58;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #FCD036;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #FAB22C;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

/* HOME */
.logo{
  max-width: 100%;
  margin-top: 1em;
}

.profile-logo{
  max-height: 160px;
  border-radius: 80px;
  border: 2px solid #E88523;
}

/**/
.intructions{
  text-align: left;
}
.intructions ul{
  list-style: none;
}

.instruction-box{
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: -50px;
  text-align: center;
}

.pure-button.attest-app {
  background: gray;
  border-radius: .5em;
  color: #eeeeee;
}

/*uPort*/
.pure-button.uport {
  background: #5f32b8;
  border-radius: .5em;
  color: #eeeeee;
}

.button-icon {
  color: white;
  height: 16px;
}
.button-icon-left{
  margin-left: 10px;
}
.button-icon-right{
  margin-right: 10px;
}
