/*Copied from w3schools: https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
    vertical-align: middle;
    margin-left: 0.8em;
    display:inline-block;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #FCD036;
    border-bottom: 5px solid #FCD036;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}